<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div class="container">
        <div id="app">
            <div class="form-group">
                <h1>Todo List</h1>
                <input type="text" name="todo" id="todo" class="form-control" placeholder="To Do..." v-model="todo" @keyup.enter="addTodo">
                <button class="btn btn-primary" style="margin-top: 8px;" @click="addTodo()">Add</button>
            </div>
            <table class="table" v-if="todos.length > 0">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Todo</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody v-for="(todo, index) in todos" :key="index">
                    <td scope="row">{{index+1}}</td>
                    <td>{{todo}}</td>
                    <td>
                        <button class="btn btn-danger" @click="deleteTodo(index)">Delete</button>
                    </td>
                </tbody>
            </table>
            <h3 v-else>Empty</h3>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>